/* ------------------------------ Global and box hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ------------------------------ Header & Nav */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    width: 100%;
    background-color: #000;
    padding-right: 20px;
    font-weight: bold;
    margin: 0;
}

.navbar {
    list-style: none;
}

.hamburger {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-flow: column;
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #FFFF00;
    border-radius: 5px;
}

.bar.first {
    margin-top: 10px;
}

.bar.last {
    margin-bottom: 10px;
}

.nav-links {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}

.nav-links.hidden {
    display: none;
}

.nav-item a {
    text-decoration: none;
    color: red;
}


/* ------------------------------ Hero Image Section */
#hero-section {
    width: 100%;
    height: 500px;
    background-color: #231F20;
}