/* ------------------------------ Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ------------------------------ Global and box hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------ Colours */
.grey-background {
    background-color: #231f20;
}

.yellow-background {
    background-color: #FFFF00;
}

.white-font {
    color: #eaeaea;
}

/* ------------------------------ Header & Nav */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    width: 100%;
    background-color: #000;
    font-weight: bold;
    margin: 0;
}

nav a {
    width: 80px;
    height: 80px;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url("../img/logo.jpg");
    background-size: cover;
    margin-left: 10px;
}

.navbar {
    list-style: none;
}

.flex-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-flow: column;
    padding-right: 20px;
}

.hamburger {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #FFFF00;
    border-radius: 5px;
}

.bar.first {
    margin-top: 20px;
}

.bar.last {
    margin-bottom: 20px;
}

.nav-links {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}

.nav-links.hide {
    display: none;
}

.nav-links-mobile {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-flow: row;
    z-index: 9;
}

.nav-links-mobile.hide {
    display: none;
}

.hide {
    display: none !important;
}

.nav-item a {
    text-decoration: none;
    color: #FFFF00;
    text-align: center;
}

.nav-item a:hover {
    transition: ease-in-out 1s;
    color: red;
}


/* ------------------------------ Hero Image Section */
#hero-section {
    width: 100%;
    height: 250px;
    background-image: url("../img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* ------------------------------ Welcome Section */
#welcome-section {
    height: auto;
    width: 100%;
    padding: 20px 5px 50px 5px;
    text-align: center;
}

.heading {
    margin-bottom: 20px;
    font-family: 'lobster two', cursive;
    font-weight: 700;
    font-size: 32px;
}

p.white-font {
    font-family: 'lobster two', cursive;
    font-weight: 400;
    font-size: 20px;
}


/* ------------------------------ Product Highlights Section */
#product-highlights {
    height: auto;
    width: 100%;
    padding: 20px 0 50px 0;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.product-highlight-img {
    width: 320px;
    height: 320px;
    margin: 15px 0;
}

.ph1 {
    background-size: cover;
    background-image: url(../img/product1.jpeg);
}
.ph2 {
    background-size: cover;
    background-image: url(../img/product2.jpeg);
}
.ph3 {
    background-size: cover;
    background-image: url(../img/product3.jpeg);
}

/* ------------------------------- Blog */
#blog {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 640px;
}

.blog-post-tile {
    width: 320px;
    height: 320px;
    padding: 10px;
}

.blog-post-img-container {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    text-align: center;
}

img.tile-img {
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
}

.tile-span {
    width: 100%;
    height: 25px;
    background-color: #000;
    padding: 0;
    margin: 0;
}


/* ------------------------------- Booking */
#booking {
    min-height: 640px;
}


/* ------------------------------- Booking */
#contact {
    min-height: 640px;
}


/* ------------------------------- Footer */
footer {
    text-align: center;
    padding-bottom: 30px;
}

.social-media {
padding: 20px 0;
display: flex;
justify-content: space-evenly;
}

.social-media i {
    color: #fff;
    font-size: 36px;
}

.copyright {
    padding: 10px 0;
}

.copyright p {
    font-family: 'lobster two', cursive;
    font-weight: 300;
    font-size: 24px;
}

/* ------------------------------- Media Queries */
@media screen and ( max-width: 499px ) {
    .nav-links {
        flex-direction: column;
    }
    .nav-item {
        text-align: center;
        width: 100%;
        background-color: #000;
        padding: 10px 0;
        font-size: 1.5rem;
        font-family: 'lobster two', cursive;
        font-weight: bold;
    }
    .nav-item a {
        text-decoration: none;
        color: #FFFF00;
        text-align: center;
    }
    
    .nav-item a:hover {
        transition: ease-in-out 1s;
        color: #FFF;
    }
}

@media screen and ( min-width: 500px ) {
    nav {
        padding: 0 25px;
    }
    .flex-container {
        display: none;
    }
    .nav-links.hide {
        display: flex !important;
    }
    #hero-section {
        background-size: contain;
        height: 500px;
        margin: 0 auto;
    }
}

