/* ------------------------------ Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ------------------------------ Global and box hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------ Colours */
.grey-background {
    background-color: #231f20;
}

.white-font {
    color: #eaeaea;
}

/* ------------------------------ Header & Nav */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    width: 100%;
    background-color: #000;
    font-weight: bold;
    margin: 0;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url("../img/logo.jpg");
    background-size: cover;
    margin-left: 10px;
}

.navbar {
    list-style: none;
}

.flex-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-flow: column;
    padding-right: 20px;
}

.hamburger {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #FFFF00;
    border-radius: 5px;
}

.bar.first {
    margin-top: 20px;
}

.bar.last {
    margin-bottom: 20px;
}

.nav-links {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}

.nav-links.hidden {
    display: none;
}

.nav-item a {
    text-decoration: none;
    color: red;
}


/* ------------------------------ Hero Image Section */
#hero-section {
    width: 100%;
    height: 250px;
    background-image: url("../img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* ------------------------------ Welcome Section */
#welcome-section {
    height: auto;
    width: 100%;
    padding: 20px 5px 50px 5px;
    text-align: center;
}

.heading {
    margin-bottom: 20px;
    font-family: 'lobster two', cursive;
    font-weight: 700;
    font-size: 32px;
}

p.white-font {
    font-family: 'lobster two', cursive;
    font-weight: 400;
    font-size: 20px;
}


/* ------------------------------ Product Highlights Section */
#product-highlights {
    height: auto;
    width: 100%;
    padding: 20px 5px 50px 5px;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.product-highlight-img {
    width: 320px;
    height: 320px;
    margin: 15px 0;
}

.ph1 {
    background-size: cover;
    background-image: url(../img/product1.jpeg);
}
.ph2 {
    background-size: cover;
    background-image: url(../img/product2.jpeg);
}
.ph3 {
    background-size: cover;
    background-image: url(../img/product3.jpeg);
}